@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
* {
  box-sizing: border-box;
  font-family: "Crimson Text", serif;
}
body {
  background-color: black;
}
.greet {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: white;
}
.room-list {
  display: flex;
  width: calc(70%);
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.room-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
}
.room-preview:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}
.room-title {
  font-size: 26px;
  color: white;
  text-decoration: none;
}
.group_img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}
/* Chat room && chat room buttons styling */
.chat {
  color: white;
  text-align: center;
  margin-top: 300px;
}
#chatroom_interval {
  margin: auto;
  display: block;
  width: calc(70%);
  height: 400px;
  background-color: white;
  overflow-y: scroll;
  list-style-type: none;
}
#chatroom_interval li {
  font-size: 28px;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px 30px 0px;
}
.buttons button {
  cursor: pointer;
}
.buttons button,
.buttons input {
  font-size: 30px;
  margin: 0px 5px 0px 5px;
}
